/**/
:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --main-light: #e4e3e4;
    --main-dark: #62757f;
    --secondary-dark: #4b636e;
    --main-white: #f8f8f8;
}

.title {
    text-align: center;
    font-size: 75px;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--main-dark)
}

body {
    font-family: 'roboto', sans-serif;
    background-color: var(--main-light);
}

#container {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: 280px 700px 280px;
    grid-template-rows: 700px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#settingsContainer {
    display: grid;
    margin: auto;
    gap: 30px;
    width: auto;
    align-content: center;
    grid-template-columns: auto;
}

input[type='color'] {
    margin: auto;
    border: none;
    width: 80px;
    height: 80px;
    background-color: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgb(114, 114, 114) 0px 3px 7px;
}

input[type='color']::-moz-color-swatch,
::-moz-focus-inner {
    border: none;
    border-radius: 50px;
    box-shadow: rgb(114, 114, 114) 0px 3px 7px;
}

input[type='color']::-moz-focus-inner {
    padding: 0;
}

button {
    padding: 0 15px;
    border: 1px solid var(--main-dark);
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(26, 25, 25, 0.3);
}

button:hover {
    background-color: var(--main-color);
}

button, input {
    width: 100%;
    border: none;
    height: 45px;
    color: var(--main-color);
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

button.active:not(#clearBtn) {
    background-color: var(--main-dark);
    color: var(--main-white);
}

#clearBtn:active {
    transform: scale(0.99);
}

button:not(#clearBtn),
input[type='color'] {
transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
    transform: scale(1.05);
}

#sliderValue {
    display: flex;
    justify-content: center;
}

.sliderContainer {
    display: flex;
    justify-content: center;
    margin-top: -18px;
}

.gridContainer {
    display: grid;
    margin-top: 0;
    margin: auto;
    height: 700px;
    width: 700px;
    background-color: var(--main-white);
    border-radius: 8px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    box-shadow: rgba(26, 25, 25, 0.3) 0px 3px 10px;
}

.grid-item {
    border: 1px solid #ddd;
}

.grid-item:hover {
    box-shadow: rgba(26, 25, 25, 0.3) 1px 1px 10px;
}

/* range slider */
.sizeSelection {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 200px;
}

.sizeSelection::-webkit-slider-runnable-track {
    background: var(--main-color);
    height: 0.7rem;
    border-radius: 15px;
    border: 1px solid var(--main-dark);
    box-shadow: rgba(26, 25, 25, 0.3) 0px 3px 10px;

}.sizeSelection::-moz-range-track {
    background: var(--main-color);
    height: 0.7rem;
    border-radius: 15px;
    border: 1px solid var(--main-dark);
    box-shadow: rgba(26, 25, 25, 0.3) 0px 3px 10px;
}

.sizeSelection::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -7px;
    background-color: var(--main-dark);
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
}

.sizeSelection::-moz-range-thumb {
    border: none;
    margin-top: -7px;
    background-color: var(--main-dark);
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
}

.sizeSelection:focus {
    outline: none;
}

.sizeSelection:focus::-webkit-slider-thumb {
    background-color: var(--secondary-dark);
    box-shadow: 0 0 7px 0 var(--secondary-dark);
    height: 1.55rem;
    width: 1.55rem;
    margin-top: -7px;
    transition-duration: 0.1s;
}

.sizeSelection:focus::-moz-range-thumb {
    background-color: var(--secondary-dark);
    box-shadow: 0 0 7px 0 var(--secondary-dark);
    height: 1.55rem;
    width: 1.55rem;
    margin-top: -7px;
    transition-duration: 0.1s;
}

.sizeSelection:hover {
    outline: none;
}

.sizeSelection:hover::-webkit-slider-thumb {
    background-color: var(--secondary-dark);
    box-shadow: 0 0 7px 0 var(--secondary-dark);
    height: 1.55rem;
    width: 1.55rem;
    margin-top: -7px;
    transition-duration: 0.1s;
}

.sizeSelection:hover::-moz-range-thumb {
    background-color: var(--secondary-dark);
    box-shadow: 0 0 7px 0 var(--secondary-dark);
    height: 1.55rem;
    width: 1.55rem;
    margin-top: -7px;
    transition-duration: 0.2s;
}
/* end range slider */

/* media queries */
@media (max-width: 1200px) {
    .title {
        margin-left: 280px;
    }

    #container {
        justify-content: center;
        grid-template-columns: 280px 700px;
    }
}

@media (max-width: 1000px) {
    .title {
        margin: auto;
    }
    #container {
        grid-template-columns: 600px;
        grid-template-rows: 400px 600px;
    }

    #settingsContainer {
        gap: 16px;
        grid-template-columns: 200px 200px;
        grid-template-rows: auto auto auto auto auto;
        transform: scale(1.43);
    }

        #colorSelector {
        grid-column: 1 / 3;
    }

    #colorBtn {
        grid-column: 1;
    }

    #sliderValue {
        grid-column: 1 / 3;
    }

    .sliderContainer {
        grid-column: 1 / 3;
    }

    #sliderValue {
        margin-bottom: -4px;
    }

    .gridContainer {
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 50px;
    }
    #container {
        grid-template-columns: 450px;
        grid-template-rows: 210px 300px;
    }

    #settingsContainer {
        gap: 16px;
        transform: scale(0.72);
        margin: 0 auto 0 auto;
    }

    #colorSelector {
        grid-column: 1 / 3;
    }

    #colorBtn {
        grid-column: 1;
    }

    #sliderValue {
        grid-column: 1 / 3;
    }

    .sliderContainer {
        grid-column: 1 / 3;
        transform: scale(1.3);
    }

    .gridContainer {
        width: 300px;
        height: 300px;
    }
}